# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Logs
*.log

# IDE
.vscode/
.idea/

# System
.DS_Store
Thumbs.db

# Env
.env
venv/
.env.*

# Python environment and cache
*.egg-info/
*.eggs/
.cache/
build/
dist/

# Model files
*.pth
*.ckpt
*.onnx
*.pb

# Image results
static/outputs/
static/inputs/

# Node
node_modules/

# Real-ESRGAN weights and downloads
models/realesrgan/experiments/
models/realesrgan/results/
models/realesrgan/weights/*.pth
models/realesrgan/logs/
